{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="container text-center">
  <img src="{% static 'sentiment/Logo.jpg' %}" height=20% width=20%>
  <h1>Cloud9 Demo</h1>
  <h2>Sentiment Analysis</h2>
  <p>
    The purpose of this page is to demonstrate a simple Sentiment Analyzer.
    <br>
    To use this simply type or paste some text into the box below and then click the button.
    <br>
    A score will be returned which will represent the overall sentiment.
    <br>
    This is a score between -1 and 1 ... with positive scores for positive sentiments and negative scores for
    negative sentiments.
    <br>
    Have fun!!!
    <br>
  </p>
  <form action="{% url 'sentiment' %}">
    Phrase: <input type="text" name="phrase">
    <br>
    <br>
    <input type="submit" value="Sentiment Score" class="btn btn-primary">
  </form>
  {{ message}}
  <br>
  <a href = "{% url 'home' %}" class="btn btn-success">reset</a>
</div>
